<% content_for :header do %>
  <%= link_to t('pages.plural'), admin_pages_path %>
    &raquo;
    <%= t('pages.new') %>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to t('gmcommerce.common.back_to_list'), admin_pages_path , :class=>"back_to_list_link" %></p>
