<li>
  <% unless f.object.new_record? %>
    <%= f.check_box :_delete, :class=>"field checkbox" %> <%= f.label :_delete, t('gmcommerce.common.destroy'), :class=>"choice" %>
  <% end %>
  <%= f.inputs :name, :code %>
</li>