<% title "Edit Producer" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_producer_url(@producer), :class=>"show_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_producers_path, :class=>"view_all_link" %>
</p>
