
form.formtastic li{
    list-style: none;
}

form.formtastic li label{
    width: 150px;
}
form.formtastic input, form.formtastic textarea, form.formtastic select {
    left: 150px;
}
form.formtastic fieldset ol li.string input {
width:60%;
}
form.formtastic fieldset ol li.text textarea {
width:60%;
}


form.formtastic fieldset {    
float: left;    
clear: both;    
width: 100%;    
margin: 0 0 1.5em 0;    
padding: 0;    
border: 1px solid #BFBAB0;    
background-color: #F2EFE9;    
}

form.formtastic legend {  
  margin-left: 1em;    
  padding: 0;    
  color: #000;    
  font-weight: bold;  
}  
form.formtastic fieldset ol {  
padding: 1em 1em 0 1em;  
list-style: none;  
}  
form.formtastic > li {    
float: left;    
clear: left;    
width: 100%;    
padding-bottom: 1em;  
}
form.formtastic label {    
float: left;    
width: 10em;    
margin-right: 1em;    
text-align: right;  
}
form.formtastic fieldset.buttons{
  float: none;    
  width: auto;    
  border-style: none;    
  padding-left: 12em;    
  background-color: transparent;    
}


.inline-hints{
    font-size: 0.8em;
}

div.product_variation > ul > li.delete{
  margin-bottom: 20px;
  float: left;
}
.product_variation > ul >li, #properties > ul > li, #order_items_fieldset > ul > li{
  clear: left;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
#order_items_fieldset a{
  clear: both;
}
form.formtastic li.numeric input{
  width: 150px !important;
  text-align: right;
}
.hidden{
  display: none !important;
}
.action_cell{
  width: 60px;
}
.show_cell{
  width: 120px;
}
.icon_link, .show_link, .edit_link, .view_all_link, .destroy_link, .new_link{
  background-repeat:no-repeat;
  background-position:middle left;
  padding-left: 18px;
}
.show_link{
  background-image:url('../images/icons/show.png');
}
.edit_link{
  background-image:url('../images/icons/edit.png');
}
.view_all_link{
  background-image:url('../images/icons/view_all.png');
}
.destroy_link{
  background-image:url('../images/icons/destroy.png');
}
.edit_comment_link{
  background-image:url('../images/icons/comment_edit.png') !important;
}
.view_all_comments_link{
  background-image:url('../images/icons/comments.png') !important;
}
.destroy_comment_link{
  background-image:url('../images/icons/comment_destroy.png') !important;
}
.new_link{
  background-image:url('../images/icons/add.png');
}
.new_comment_link{
  background-image:url('../images/icons/comment_add.png') !important;
}
.clear{
  clear: both;
}
.menu_items_link{
  background-image:url('../images/icons/text_list_bullets.png') !important;
}
.reorder_link{
  background-image:url('../images/icons/arrow_switch.png') !important;
}

.markItUpContainer textarea{
    margin-left: 185px !important; 
}
