<% content_for :header do %>
  <%= link_to t('orders.plural'), admin_orders_path %>
    &raquo;
    <%= t('orders.new') %>
<% end %>
<%= render :partial => 'form' %>

<p><%= link_to t('gmcommerce.common.back_to_list'), admin_orders_path , :class=>"back_to_list_link" %></p>
