<% content_for :header do %>
  <%= link_to t('contacts.plural'), admin_contacts_path %>
    &raquo;
    <%= t('contacts.new') %>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to t('gmcommerce.common.back_to_list'), admin_contacts_path , :class=>"back_to_list_link" %></p>
