<% title "Edit Property Type" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_property_type_path(@property_type) %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_property_types_path, :class=>"view_all_link" %>
</p>
