<% title "Edit Property Type" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", admin_property_type_path(@property_type) %> |
  <%= link_to "View All", admin_property_types_path %>
</p>
