<% content_for :header do %>
  <%= link_to t('property_types.plural'), admin_property_types_path %>
    &raquo;
    <%= t('property_types.new') %>
<% end %>
<%= render :partial => 'form' %>

<p><%= link_to t('gmcommerce.common.back_to_list'), admin_property_types_path , :class=>"back_to_list_link" %></p>
