<div class="product_variation">
  <% if f.object.options %>
      <% for o in f.object.options %>
        <%= f.input :options, :label=>h(o.option_group.name), :collection=>o.option_group.options.all.map{ |o| [h(o.name), o.id] }, :input_html=>{ :multiple=>false, :size=>1 } %>
      <% end %>
      <%= f.input :price, :input_html=>{:size=>10, :class=>"price_field"} %>
       <% unless f.object.new_record? %>
       <li class="delete">
        <%= f.check_box :_delete, :class=>"field checkbox" %> <%= f.label :_delete, t('gmcommerce.common.destroy'), :class=>"choice" %>
        </li>
      <% end %>
  <% else %>
    Option group does not have any options, adding product variation is not possible.
  <% end %>
</div>
