<% content_for :header do %>
  <%= link_to t('products.plural'), admin_products_path %>
    &raquo;
    <%= t('products.new') %>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to t('gmcommerce.common.back_to_list'), admin_products_path , :class=>"back_to_list_link" %></p>
