<% content_for :header do %>
  <%= link_to t('products.plural'), admin_products_path %>
    &raquo;
    <%= t('products.new') %>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", admin_products_path %></p>
