<div id="breadcrumbs" class="less_margin">
            	<span>Jesteś w:</span> Zamówienie, krok 4
            </div>
        
		</div>
        <!-- end top -->
  	
		<div id="CONTAINER">
        	<div id="order_info-box">
            	<a class="passed" id="wybor_prezentu" href="#"><span>Wybór prezentu</span></a>
                <a class="passed" id="dane_teleadresowe" href="#"><span>Dane teleadresowe</span></a>
                <a class="passed" id="platnosc" href="#"><span>Płatność</span></a>
                <a class="active" id="dziekujemy" href="#"><span>Dziękujemy</span></a>
                <div class="clearb"></div>
            </div>
            
  			<div id="CONTENT" class="dziekujemy">
            
            	<div class="left_bracket"><div class="right_bracket">
                
                    <h3 id="head-dziekujemy">Dziękujemy serdecznie za złożenie zamówienia w naszym sklepie</h3>
                    <img src="images/logo.gif" alt="pokochaj luksus - coconti" />
                    

                    <div class="clearb"></div>                    
               </div></div>
               <!-- end left and right bracket -->
			
                
          </div>
            <!-- end Content -->