<% title "Edit Gift Discount" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", admin_gift_discount_path(@gift_discount) %> |
  <%= link_to "View All", admin_gift_discounts_path %>
</p>
