<% title "Edit Product Template" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_product_template_path(@product_template) %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_product_templates_path, :class=>"view_all_link" %>
</p>
