<% title "Edit Product Template" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", admin_product_template_path(@product_template) %> |
  <%= link_to "View All", admin_product_templates_path %>
</p>
